.title {
    font-size: 80px !important;
}

.body-highlight {
    color: #A4804A;
    font-weight: bold;
}

.body-highlight-red {
    color: #C8102E;
    font-weight: bold;
}

.body-centered {
    text-align: center !important;
}

.code {
    font-family: Consolas, monospace;
}

.reveal .slide-number {
    font-size: 5.5vh !important;
    color: white !important;
    margin-top: 6.25vh;
}

.reveal .slide-logo {
    display: block;
    position: fixed;
    bottom: 30px !important;
    right: 12px;
    max-height: 4rem !important;
    height: 100%;
    width: auto;
    z-index: 2;
}

.reveal img {
    margin-bottom: -1vw;
}

.reveal .slide figure>figcaption {
    text-align: center !important;
    margin-top: 2vh;
}

.reveal h1 {
    color: #C8102E !important;
}

.reveal h2 {
    color: white !important;
    background-color: #C8102E !important;
    width: 200vw;
    height: 1.2em;
    position: relative;
    left: -20vw;
    padding-left: 20vw;
}

.reveal .slide aside .aside-footnotes {
    font-size: 0.8em;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }